
  .starting {
    margin: 18rem auto;
    text-align: center;
  }
  
  .image .starting h1{
    text-align: center;
    font-size: 5rem;
    color: rgb(90, 80, 80);
  }

  .welcomedoctor{
    background: linear-gradient(to right, #181717e5 0%, #2162d1ad 100%);  
}   